.App {
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: font;
  text-align: center;
}

.component-view{
  /* Controls the display of components next to the sidebar */
  display: flex;
  justify-content: center;
  align-items: center; 
}

input[type="radio"]{
  display: none;
}

.music-note{
  cursor: pointer;
  transition: color 200ms;
}

.rating{
  margin-bottom: 2vh;
}

.navbar{
  background-color: black;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 220px;
}

@media (max-width: 768px) {
  .genre-list {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .genre-card {
    margin-left: 0 !important;
  }
}

@font-face {
  font-family: font;
  src: url(./font.ttf);
}

/* Controls the spacing of the components next to the sidebar */
.content{
  margin-left: 30%;
  margin-top: 15%;
}

.categories{
  margin-top: 5vh;
}

.listButton{
  margin-left: 10vh;
}

.modal{
  margin-left: 20vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.containerLoginRegister{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoUser{
  flex: 1;
  max-width: 30%;
  max-height: 60%;
  margin-right: 5vh;
}

.vl {
  border-left: 2px solid #4d4d4d;
  height: 100%;
  position: flex;
  margin-left: -40px;
  top: 0;
}

.register-login-button{
  margin-left: 15px;
  margin-bottom: 10px;
}

.artists-content{
  margin-left: 55vh;
}

.view-button{
  margin-bottom: 3vh;
}

.genres{
  margin-top: 1%;
  margin-left: 20%;
}

.listen-list-row {
  height: 60px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.genre-card{
  width: '18rem';
  marginLeft: '10vh';
}

.listen-list-row p {
  margin: 0;
  font-size: 12px;
}

.listen-list-row h3 {
  margin: 0;
  font-size: 18px;
}

.listen-list-row button {
  margin-left: auto;
}

.list-content{
  margin-left: 20%;
}

.search-bar{
  margin-top: 5%;
  margin-left: 3%;
  width: 150vw;
}