.App {
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: font;
}

.component-view{
  /* Controls the display of components next to the sidebar */
  display: 'flex';
  align-items: 'center';
  height: '100vh';
  text-align: center;
  flex-direction:row;
}

input[type="radio"]{
  display: none;
}

.music-note{
  cursor: pointer;
  transition: color 200ms;
}

.rating{
  margin-bottom: 2vh;
}

.navbar{
  background-color: black;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  margin-top: 2vh;
}

@font-face {
  font-family: font;
  src: url(./font.ttf);
}

/* Controls the spacing of the components next to the sidebar */
.content{
  margin-left: 30%;
  margin-top: 15%;
}

.categories{
  margin-top: 5vh;
}

.listButton{
  margin-top: 50vh;
  margin-left: 10vh;
}

.modal{
  margin-left: 20vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
